// Copy this file to vite.config.ts and adjust as needed for your local setup.
import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react'

export default defineConfig({
  plugins: [react()],
})
